.login {
  background: url('/assets/images/login-background.jpg');
  height: 100%;
  display: flex;
}

.login > md-card {
  text-align: center;
  margin: auto;
  width: 300px;
  overflow: auto;
}

.login md-input-container {
  width: 240px;
}
