<div class="login">
  <md-card>
    <img src="assets/images/coca-cola-logo.png" width="148px">
    <form class="login-form">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Username">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Password">
      </md-input-container>
      <div class="button-row">
        <button [routerLink]="'/home'" color="primary" md-raised-button>LOGIN</button>
      </div>
    </form>
  </md-card>
</div>
