<app-loading *ngIf="loading"></app-loading>
<md-toolbar class="mat-elevation-z4" color="primary">
  Target Data Upload
  <span class="example-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings_power</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
<md-card *ngFor="let country of countries; let i = index">
  <md-card-title>{{country.name}}</md-card-title>
  <md-card-subtitle>Last updated: {{lastUpdatedDate(schedule[countryMap[country.id]].updatedOn)}}</md-card-subtitle>
  <md-card-content>
    <md-input-container>
      <input mdInput [mdDatepicker]="startDatePicker" [(ngModel)]="schedule[countryMap[country.id]].startDate" placeholder="Start date">
      <!-- <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button> -->
      <md-datepicker-toggle mdSuffix [for]="startDatePicker"></md-datepicker-toggle>
    </md-input-container>
    <md-datepicker [id]="country.id" #startDatePicker></md-datepicker>
    <md-input-container>
      <input mdInput [mdDatepicker]="endDatePicker" [(ngModel)]="schedule[countryMap[country.id]].endDate" placeholder="End date">
      <!-- <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button> -->
      <md-datepicker-toggle mdSuffix [for]="endDatePicker"></md-datepicker-toggle>
    </md-input-container>
    <md-datepicker [id]="country.id" #endDatePicker></md-datepicker>
    <button color="accent" (click)="submitSchedule(i)" md-raised-button>SET</button>
  </md-card-content>
</md-card>

<!-- <md-toolbar class="mat-elevation-z4" color="primary">
  Target Data Upload
  <span class="example-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings_power</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>

<md-grid-list cols="3" rowHeight="96px">
  <md-grid-tile rowspan="1" colspan="1">
    <md-slide-toggle>Vietnam</md-slide-toggle>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-slide-toggle>Myanmar</md-slide-toggle>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-slide-toggle>Combodia</md-slide-toggle>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker1" placeholder="Start date">
      <button mdSuffix [mdDatepickerToggle]="picker1"></button>
    </md-input-container>
    <md-datepicker #picker1></md-datepicker>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker2" placeholder="Start date">
      <button mdSuffix [mdDatepickerToggle]="picker2"></button>
    </md-input-container>
    <md-datepicker #picker2></md-datepicker>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker3" placeholder="Start date">
      <button mdSuffix [mdDatepickerToggle]="picker3"></button>
    </md-input-container>
    <md-datepicker #picker3></md-datepicker>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker4" placeholder="End date">
      <button mdSuffix [mdDatepickerToggle]="picker4"></button>
    </md-input-container>
    <md-datepicker #picker4></md-datepicker>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker5" placeholder="End date">
      <button mdSuffix [mdDatepickerToggle]="picker5"></button>
    </md-input-container>
    <md-datepicker #picker5></md-datepicker>
  </md-grid-tile>
  <md-grid-tile rowspan="1" colspan="1">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker6" placeholder="End date">
      <button mdSuffix [mdDatepickerToggle]="picker6"></button>
    </md-input-container>
    <md-datepicker #picker6></md-datepicker>
  </md-grid-tile>
</md-grid-list> -->