<app-loading *ngIf="loading"></app-loading>
<md-toolbar class="mat-elevation-z4" color="primary">
  Target Data Upload
  <span class="example-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings_power</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
<md-grid-list cols="4" rowHeight="64px" style="text-align: center">
  <md-grid-tile colspan="4" rowspan="1">
    <h3>Upload Instructions</h3>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <ul>
      <li>1. Upload data in excel format</li>
      <li>2. File should contain data on Sales Rep x Customer x SKU x KPI level</li>
    </ul>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <div class="image-upload">
        <label for="file-input">
            <md-icon>file_upload</md-icon>
        </label>
        <input id="file-input" type="file" (change)="getFile($event)"/>
    </div>
    <md-input-container>
      <input mdInput placeholder="" disabled [value]="fileName">
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <button color="primary" md-raised-button (click)="uploadFile()">UPLOAD</button>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <button color="accent" md-raised-button (click)="downloadFile()">DOWNLOAD</button>
  </md-grid-tile>
</md-grid-list>
